/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}

/* end reset browser styles */

/* app specific styles */
html { 
	height: 100%;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 62.5%;  
}

body {
	height: 100%;
}

#map {
	width:  100%; 
	height: 100%;
	position: absolute;
}

header {
	background-color: rgba(0,0,0,0.25);
	padding: 5px;
	font-size: 2.75em;
	position: relative;
}

header h1 {
	display: none;
	text-shadow: 4px 3px 6px rgba(0,0,0,.5);
	color: rgb(25,25,25);
}

header .header-controls {
	position: relative;
	line-height: 0;
}

header .search-bar {
	background-color: rgb(255,255,255);
	display: inline-block;
	border: 3px solid black;
	padding: 2px;
	border-radius: 10px;
	font-size: 0.65em;
}

header .search-bar:hover {
	box-shadow: 0 0 10px black;
}

header input[type="text"] {
	font-size: inherit;
	border-style: none;
	width: 10em;
}

header input[type="text"]:focus {
	outline: none;
}

header .hamburger {
	display: inline-block;
	cursor: pointer;
	position: absolute;
	right: 0;
	margin-top: 2px;				
}

header .hamburger:hover {
	text-shadow: 0 0 6px rgba(0,0,0,0.65);				
}

.places-section {
	width: 300px;
	margin: 5px 0 0 5px;
	border-right: 10px solid rgb(50,50,50);
	background-color: rgb(255,255,255);
	border-radius: 5px;

	position: relative; /* means nav will cover exisiting content when it comes into view */

	/* use translate to move it off the screen */
	-webkit-transform: translate(-305px, 0);
	-moz-transform: translate(-305px, 0);
	-o-transform: translate(-305px, 0);
	-ms-transform: translate(-305px, 0);
	transform: translate(-305px, 0);

	/* add tranisiton of .5 secs for nice animation */
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
	-ms-transition: transform 0.5s ease; 
	transition: transform 0.5s ease; 
	
	box-shadow: 0 0 10px black;
}

.places-section.open-places-section {
	-webkit-transform: translate(0, 0);
  	-moz-transform: translate(0, 0);
  	-o-transform: translate(0, 0);
  	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	border-right: none;
}

.places-section h1 {
	font-size: 3em;
	text-shadow: 4px 3px 6px rgba(0,0,0,.5);
	color: rgb(25,25,25);
	padding: 5px;
	border-bottom: 2px solid black;
} 

.places-section .places-list {
	max-height: 400px;
	overflow-y: auto;
}

.places-section ul {
	font-size: 2em; 
	list-style-type: none;
	padding-left: 0;
}

.places-section li {
	border-bottom: 1px solid black;
}

.places-section li:last-child {
	border-bottom: none;
}

.places-section a {
	text-decoration: none;
	display: block;
	padding: 10px;
	color: rgb(0,0,0);
}

.places-section a:hover {
	background-color: rgba(0,0,0,0.26);
}

.places-section a:active {
	text-shadow: 0 0 10px rgb(0,0,0);
}

.foursquare-attribution {
	position: absolute;
	bottom: 0;
	right: 0;
}

.info-window-template {
	display: none;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,255,114,0.9);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog .searchContent {
	width: 95%;
	position: relative;
	margin: 20% auto;
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: bold;
}

.searchContent h1 {
	font-size: 5em;
}

.searchContent p {
	font-size: 2.5em;
}

.searchContent a {
	text-decoration: none;
	display: inline-block;
	padding: 7.5px 10px;
	color: #FFFFFF;
	background: #2D5BE3;
	border-radius: 5px;
	font-size: 1.2em;
	margin-left: 10px;
	-moz-box-shadow: 1px 1px 3px #000000;
	-webkit-box-shadow: 1px 1px 3px #000000;
	box-shadow: 1px 1px 3px #000000;
}

.searchContent a:hover {
	background: #2D1BB3;
}

.searchContent .close {
	position: fixed;
	top: 5px;
	right: 5px;
}

.searchContent input[type="text"] {
	font-size: 2em;
	margin-bottom: 10px;
	vertical-align: top;
}

.searchContent .inputs {
	margin-top: 10px;
}

@media screen and (min-width: 400px) {
  header {
    font-size: 3em;
  }

  header input[type="text"] {
  	width: 15em;
  }
}

@media screen and (min-width: 550px) {
  header {
    font-size: 4em;
  }
}

@media screen and (min-width: 650px) {
  .searchContent h1 {
	font-size: 10em;
  }

  .searchContent p {
  	font-size: 5em;
  }

  .searchContent a {
  	padding: 15px 20px;
  	font-size: 1.8em;
  }

  .searchContent input[type="text"] {
  	font-size: 4em;
  }
}
 
@media screen and (min-width: 950px){
  header h1 {
    display: inline-block;
  }

  header .header-controls {
    display: inline-block;
    position: absolute;
    right: 0;
  }

  header input[type="text"] {
  	width: 10em;
  }

  header .hamburger {
    display: none;
  }

  .places-section {
  	-webkit-transform: translate(0, 0);
  	-moz-transform: translate(0, 0);
  	-o-transform: translate(0, 0);
  	-ms-transform: translate(0, 0);
    transform: translate(0, 0);
    border-right: none;
  }

  .places-section h1 {
    display: none;
  }
}